/* Large devices: desktops, 992px, and up */
/* @media only screen and (max-width: 1920px) {
  .grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: left;
    justify-content: space-around;
  }
} */

/* Medium devices: tablets, 768px, and up */
/* @media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    text-align: left;
    justify-content: space-around;
  }
} */

/* Mobile (max-width: 576px) */
/* @media (max-width: 576px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    text-align: left;
    justify-content: space-around;
  }
} */

/* @media only screen and (max-width: 600px) {
  nav ul, footer ul {
    font-size: 1.4em;
  }
} */
