#menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .hamburger {
    transition: 0.3s ease;
    display: none;
  }
  
  .hamburger ul {
    padding: 0 22px;
  }
  
  .hamburger li {
    list-style: none;
    padding: 12px 0;
  }
  
  .hamburger li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }